body {
    margin: 100px;
}

.box {
    width: 300px;
    height: 300px;
    background: #3dccc3;
    transition-duration:550ms;
    transition-timing-function: ease-in-out;
}

.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}


.box:hover {
    background: #ff6b6b;
    
    transform: scale(1.1,1.1);
}
.divider {
    height: 2000px;
}
